@media screen and (max-width: 480px) {
    #head{
        display: flex;
    }
    body{
        font-family: 'Roboto';   
    }
    .list{
        display: none;
    }
    .button1{
        border-color: rgba(10, 121, 224, 0.842);
        border-radius: 13px;
        padding: 1px;
        background-color: white;
        font-size: 15px;
        width: auto;
        height: auto;
        padding: 10px;
    }
    .symbol2{
        display: none;
    }
    .symbol{
        height: 60px;
        margin-left: auto; 
        margin-top: -10px;
        width: 70px;
    }
    .button2{
        border-color: rgba(10, 121, 224, 0.842);
        border-radius: 13px;
        padding: 1px;
        background-color: white;
        font-size: 15px;
        width: auto;
        margin-left: auto;
        padding: 10px;
    }
    .button3{
        display: none;
    }
    video{
        width: 100%;
        margin-top: 5px;
    }
    .video2{
        display: none;
    }
    source{
        height: auto;
        margin-top: -50px;
    }
    #block1{
        display: inline;
        
    }
    #block2{
        background-color: rgba(5, 5, 70, 0.925);
        color: white;
        margin-top: -4px;
        padding: 25px;
        text-align: center;
        font-family: 'Roboto';
    }
    .content1{
        font-size: 19px;
        font-weight: 350px;
        word-spacing: 2px;
        letter-spacing: 0.5px;
    }
    .content2{
        color: rgba(10, 121, 224, 0.842);
        background-color: white;
        width: 80%;
        font-weight: bold;
        padding: 8px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 17px;
    }
    img{
        width: 100%;
    }
    #block3{
        text-align: center;
    }
    .content3{
        color:rgba(10, 121, 224, 0.842);
        font-size: 20px;
        font-weight: bold;
        font-family: 'Roboto';
        word-spacing: 0.5px;
        letter-spacing: 0.5px;
    }
    .content4{
        font-family: 'Roboto';
        margin-left: 20%; 
        margin-right: 20%;
    }
    .content5{
        font-family: 'Roboto';
        border: 1px solid rgba(10, 121, 224, 0.842);
        color: rgba(10, 121, 224, 0.897);
        border-radius: 12px;
        margin-left: 25%;
        margin-right: 25%;
        padding: 4px; 
    }
    #block4{
        background-color: rgba(211, 211, 211, 0.219);
        text-align: center;
        padding: 8px;
        margin-top: -4px;
    }
    #block4>h3{
        color:rgba(10, 121, 224, 0.842);
        font-family: 'Roboto';
        text-align: center;
    }
    #block4>p{
        font-family: 'Roboto';
        text-align: center;
        margin-left: 15%; 
        margin-right: 15%;
    }
    #block4>h5{
        font-family: 'Roboto';
        text-align: center;
        color: rgba(10, 121, 224, 0.897);
        border: 1px solid rgba(10, 121, 224, 0.842);
        height: auto;
        border-radius: 12px;
        margin-left: 25%;
        margin-right: 25%;
        padding: 4px; 
    }
    #block5{
        text-align: center;
        
    }
    .content6{
        color:rgba(10, 121, 224, 0.842);
        margin-top: -10px;
        margin-left: 20%;
        margin-right: 20%;
    }
    .content7{
        margin-left: 10%;
        margin-right:10%;
    }
     .content8{
        text-align: center;
        color: rgba(10, 121, 224, 0.897);
        border: 1px solid rgba(10, 121, 224, 0.842);
        height: auto;
        border-radius: 12px;
        margin-left: 25%;
        margin-right: 25%;
        padding: 4px;
    }
    #totalblock4{
        background-color: rgba(211, 211, 211, 0.219);
    }
    #block6{
        
        text-align: center;
        padding: 10px;
        font-family: 'Roboto';
    }
    .content9{
        color:rgba(10, 121, 224, 0.842);
        margin-left: 25%;
        margin-right: 25%;
    }
    .content10{
        margin-left: 13%;
        margin-right: 13%;
    }
    .content11{
        text-align: center;
        color: rgba(10, 121, 224, 0.897);
        border: 1px solid rgba(10, 121, 224, 0.842);
        height: auto;
        border-radius: 12px;
        margin-left: 25%;
        margin-right: 25%;
        padding: 4px;  
    }
    #block7{
        text-align: center;
        padding:5px;
        font-family: 'Roboto';
    }
    .content12{
        color:rgba(10, 121, 224, 0.842);
        margin-left: 25%;
        margin-right: 25%;
        word-spacing: 1.5px;
        letter-spacing: 0.5px;
    }
   .content13{
        margin-left: 14%;
        margin-right: 14%;
    }
   .content14{
        text-align: center;
        color: rgba(10, 121, 224, 0.897);
        border: 1px solid rgba(10, 121, 224, 0.842);
        height: auto;
        border-radius: 12px;
        margin-left: 25%;
        margin-right: 25%;
        padding: 4px;  
    }
    #block8{
        background-color: rgba(211, 211, 211, 0.219);
        text-align: center;
        padding: 10px;
        font-family: 'Roboto';
    }
    .content15{
        color:rgba(10, 121, 224, 0.842);
        margin-left: 25%;
        margin-right: 25%;
    }
    .logos{
        word-spacing: 30px;
    }
    .logo1{
        width: 100px;
        height: 40px;
    }
    .logo2{
        width: 120px;
        height: 50px;
    }
    .logo3{
        width: 100px;
        height: 50px;
    }
    #block9{
        color: white;
        background-color:rgba(10, 121, 224, 0.842);
        text-align: center;
        padding: 15px;
        font-family: 'Roboto';
    }
    .content16{
        margin-left: 23%;
        margin-right: 23%;
    }
    .content17{
        text-align: center;
        color: rgba(10, 121, 224, 0.897);
        border: 2px white;
        background-color: white;
        height: auto;
        border-radius: 12px;
        margin-left: 25%;
        margin-right: 25%;
        padding: 4px;  
    }
    .list1>ul{
        list-style-type: none;
        font-family: 'Roboto';
        display: flex;

        text-indent: 15px;
        margin-left: -25px;
        margin-right: auto;
        font-weight: bold;
        font-size: 14px;
    }
    .list2>ul{
        list-style-type: none;
        font-family: 'Roboto';
        display: flex;

        text-indent: 15px;
        margin-left: -25px;
        margin-right: auto;
        font-weight: bold;
        font-size: 14px;
    }
    .list3>ul{
        list-style-type: none;
        font-family: 'Roboto';
        display: flex;

        text-indent: 15px;
        margin-left: -25px;
        margin-right: auto;
        font-weight: bold;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.363);
    }
    .list4>ul{
        list-style-type: none;
        font-family: 'Roboto';
        display: flex;

        text-indent: 15px;
        margin-left: -25px;
        margin-right: auto;
        font-weight: bold;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.363);
    }
    .list5>ul{
        list-style-type: none;
        font-family: 'Roboto';
        display: flex;

        text-indent: 15px;
        margin-left: -25px;
        margin-right: auto;
        font-weight: bold;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.363);
    }
    footer{
        margin-left: auto;
        margin-right: 10%;
    }
} 

@media screen and (min-width :480px) 
{
    #head{
        margin-top: -10px;
    }
    .list{
        display: none;
    }
    .button1{
        border-color: rgba(10, 121, 224, 0.842);
        border-radius: 13px;
        background-color: white;
        font-size: 15px;
        width: auto;
        height: auto;
        padding: 10px;
        margin-bottom: 5px;
    }
    .symbol2{
        display: none;
    }
    .symbol{
       
        margin-left: 32%;
        width: auto;
        height: 60px;
        margin-bottom: -23px;
    }
    .button2{
        border-color: rgba(10, 121, 224, 0.842);
        border-radius: 13px;
        padding: 1px;
        background-color: white;
        font-size: 15px;
        width: auto;
        margin-top: 12px;
        margin-left: auto;
        padding: 10px;
    }
    .button3{
        display: none;
    }
    video{
       width:100%;
       height: auto;  
    }
    .video2{
        display: none;
    }
    #block2{
        background-color: rgba(5, 5, 70, 0.925);
        color: white;
        margin-top: -4px;
        padding: 25px;
        text-align: center;
        font-family: 'Roboto';
    }
    .content1{
        font-size: 19px;
        font-weight: 350px;
        word-spacing: 2px;
        letter-spacing: 0.5px;
    }
    .content2{
        color: rgba(10, 121, 224, 0.842);
        background-color: white;
        width: 35%;
        font-weight: bold;
        padding: 8px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 17px;
    }
    img{
        width: 100%;
    }
    #totalblock1>img{
        float: right;
        width: 30%;
        height: 230px;
    }
    #totalblock1{
        height: 250px;
        margin-top: -30px;
    }
    .content3{
        color:rgba(10, 121, 224, 0.842);
        font-size: 20px;
        font-weight: bold;
        font-family: 'Roboto';
        word-spacing: 0.5px;
        letter-spacing: 0.5px;
        margin-left: 5%;
        margin-top: 10%;
    }
    .content4{
        font-family: 'Roboto';
        margin-left: 5%;
        margin-top: auto;
    }
    .content5{
        font-family: 'Roboto';
        border: 1px solid rgba(10, 121, 224, 0.842);
        color: rgba(10, 121, 224, 0.897);
        border-radius: 12px;
        margin-left: 6%;
        width: 20%;
        padding: 4px;
        text-align: center;
        margin-top: 6%;
    }

    #totalblock2{
        margin-top: 10px;
        background-color: rgba(211, 211, 211, 0.219);
        padding: 23px;
    
    }
    #totalblock2>img{
        float: left;
        width: 50%;
        margin-left: 10px;
        height: 200px;
    }
    #block4>h3{
        color:rgba(10, 121, 224, 0.842);
        font-family: 'Roboto';
    }
    #block4>p{
        font-family: 'Roboto';
        margin-left: 49%;  
    }
    #block4>h5{
        font-family: 'Roboto';
        text-align: center;
        color: rgba(10, 121, 224, 0.897);
        border: 1px solid rgba(10, 121, 224, 0.842);
        height: auto;
        border-radius: 12px;
        margin-left: 52%;
        width: 27%;
        padding: 5px; 
    }
    #totalblock3>img{
        float: right;
        width: 40%;
        margin-left: 10px;
        height: 200px;
    }
    #totalblock3{
        height: 250px;
        margin-top: -30px;
    }
    .content6{
        color:rgba(10, 121, 224, 0.842);
        font-size: 20px;
        font-weight: bold;
        font-family: 'Roboto';
        word-spacing: 0.5px;
        letter-spacing: 0.5px;
        margin-left: 5%;
        margin-top: 10%;
    }
    .content7{
        font-family: 'Roboto';
        margin-left: 5%;
        margin-top: auto;
    }
    .content8{
        font-family: 'Roboto';
        border: 1px solid rgba(10, 121, 224, 0.842);
        color: rgba(10, 121, 224, 0.897);
        border-radius: 12px;
        margin-left: 6%;
        width: 20%;
        padding: 4px;
        text-align: center;
        margin-top: 6%;
    }

    #totalblock4{
        background-color: rgba(211, 211, 211, 0.219);
        padding: 23px;
        height: 250px;
    }
    #totalblock4>img{
        float: left;
        width: 40%;
        margin-left: 10px;
        height: 250px;
    }
    .content9{
        color:rgba(10, 121, 224, 0.842);
        font-family: 'Roboto';
        margin-left: 49%;
    }
    .content10{
        font-family: 'Roboto';
        margin-left: 49%;  
    }
    .content11{
        margin-top: 40px;
        font-family: 'Roboto';
        text-align: center;
        color: rgba(10, 121, 224, 0.897);
        border: 1px solid rgba(10, 121, 224, 0.842);
        height: auto;
        border-radius: 12px;
        margin-left: 52%;
        width: 27%;
        padding: 5px; 
    }

    #totalblock5>img{
        float: right;
        width: 30%;
        margin-left: 10px;
        height: 220px;
    }
    #totalblock5{
        height: 250px;
        margin-top: 15px;
        padding: 15px;
        margin-left: 8%;
        margin-right: 8%;
    }
    .block7{
        margin-top: 40px;
    }
    .content12{
        color:rgba(10, 121, 224, 0.842);
        font-size: 20px;
        font-weight: bold;
        font-family: 'Roboto';
        word-spacing: 0.5px;
        letter-spacing: 0.5px;
        margin-top: 6%;
    }
    .content13{
        font-family: 'Roboto';
        margin-top: auto;
    }
    .content14{
        font-family: 'Roboto';
        border: 1px solid rgba(10, 121, 224, 0.842);
        color: rgba(10, 121, 224, 0.897);
        border-radius: 12px;
        width: 20%;
        padding: 4px;
        text-align: center;
        margin-top: 40px;
        
    }
    #block8{
        background-color: rgba(211, 211, 211, 0.219);
        text-align: center;
        padding: 10px;
        font-family: 'Roboto';
        padding-bottom: 25px;
        height: 130px;
    }
    .content15{
        color:rgba(10, 121, 224, 0.842);
        font-size: 20px;
    }
    .logos{
        display: flex;
        justify-content: space-evenly;
        margin-left: 16%;
        margin-right: 16%;
    }
    .logos>img{
        height: auto;
        width: 100px;
    }
    #block9{
        color: white;
        background-color:rgba(10, 121, 224, 0.842);
        text-align: center;
        padding: 15px;
        font-family: 'Roboto';
        font-size: 19px;
        height: 130px;
    }
    .content16{
        margin-left: 13%;
        margin-right: 13%;
        margin-top: 15px;
    }
    .content17{
        text-align: center;
        color: rgba(10, 121, 224, 0.897);
        border: 2px white;
        background-color: white;
        height: auto;
        border-radius: 12px;
        margin-left: 40%;
        width: 22%;
        padding: 4px;
    }
    #block10{
        display: flex;
        margin-left: 2%;
    }
    .list1>ul{
        list-style-type: none;
        font-family: 'Roboto';
        display: flex;
        text-indent: 18px;
       
        font-weight: bold;
        font-size: 14px;
    }
    #block11{
        display: flex;
        margin-left: 5%;
    }
    .list2{
        margin-left: -35px;
    }
    .list4{
        margin-left: -15px;
    }
    .list2>ul{
        list-style-type: none;
        font-family: 'Roboto';
        display: flex;
        text-indent: 18px;
        font-weight: bold;
        font-size: 14px;
    }
    #block12{
        margin-left: 5%;
        display: flex;
    }
    .list3>ul{
        list-style-type: none;
        font-family: 'Roboto';
        display: flex;

        text-indent: 15px;
        margin-left: -25px;
        margin-right: auto;
        font-weight: bold;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.363);
    }
    .list4>ul{
        list-style-type: none;
        font-family: 'Roboto';
        display: flex;

        text-indent: 15px;
        margin-left: -25px;
        margin-right: auto;
        font-weight: bold;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.363);
    }
    .list5>ul{
        list-style-type: none;
        font-family: 'Roboto';
        display: flex;

        text-indent: 15px;
        margin-left: -25px;
        margin-right: auto;
        font-weight: bold;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.363);
    }
    footer>p{
        margin-left: 2%;
        margin-right: 8%;
    }
}

@media screen and (min-width :800px) {
    #head{
        justify-content:space-evenly ;
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        height: 60px;
    }
    .button1{
        display: none;
    }
    .symbol2{
        width: 100px;
        height: 40px;
        display: block;
        margin-top: 15px;
    } 
    .symbol{
        display: none;
    }
    video{
        display: none;  
    }
    .video2{
        display: block;
        margin-top: 13px;
    }
    .list{
        display: flex;
        font-family: 'Roboto';
        text-indent: 3vw;
        justify-content: center;
        margin-left: auto;
        font-size: 14px; 
    }
    .list>a{
        margin-top: 27px;
        font-family: 'Roboto';
        text-decoration: none;
    }
    .button2{
       height: 35px;
       color: rgba(82, 163, 238, 0.842);
       font-family: 'Roboto';
       font-weight: bold;
       line-height: 10px;
       margin-top: 20px;
    }
    .button3{
        display: flex;
        float: right;

        border-radius: 13px;
        font-size: 15px;
        width: auto;
        margin-top: 20px;
        text-align: center;

        height: 35px;
        color: white;
        background-color: rgba(10, 121, 224, 0.842);
        font-family: 'Roboto';
        font-weight: bold;
        line-height: 30px;
    }
    #totalblock1>img{
        float: right;
        width: 30%;
        height: 270px;
    }
    #totalblock1{
        height: 300px;
        margin-left: 8%;
        margin-right: 10%;
    }
    .content3{
        color:rgba(10, 121, 224, 0.842);
        font-size: 20px;
        font-weight: bold;
        font-family: 'Roboto';
        word-spacing: 0.5px;
        letter-spacing: 0.5px;
        margin-left: 5%;
    }
    .content4{
        font-family: 'Roboto';
        margin-left: 5%;
        margin-top: 40px;
    }
    .content5{
        font-family: 'Roboto';
        border: 1px solid rgba(10, 121, 224, 0.842);
        color: rgba(10, 121, 224, 0.897);
        border-radius: 12px;
        margin-left: 6%;
        width: 20%;
        padding: 4px;
        text-align: center;
        margin-top: 6%;
    }
    #totalblock2{
        margin-top: 10px;
        background-color: rgba(211, 211, 211, 0.219);
        padding: 23px;
        height: 320px;
    }
    #totalblock2>img{
        float: left;
        width: 50%;
        height: 250px;
        margin-left: -2%;
    }
    #block4{
        margin-right: 9%;
    }
    #block4>h3{
        color:rgba(10, 121, 224, 0.842);
        font-family: 'Roboto';
        margin-top: 40px;
    }
    #block4>p{
        font-family: 'Roboto';
        margin-left: 49%;
        margin-top: 30px;  
    }
    #block4>h5{
        font-family: 'Roboto';
        text-align: center;
        color: rgba(10, 121, 224, 0.897);
        border: 1px solid rgba(10, 121, 224, 0.842);
        height: auto;
        border-radius: 12px;
        margin-left: 53%;
        width: 25%;
        padding: 5px;
        margin-top: 40px;
    }
    #totalblock3>img{
        float: right;
        width: 40%;
        margin-left: 10px;
        height: 250px;
    }
    #totalblock3{
        height: 300px;
        margin-top: -30px;
        margin-left: 8%;
        margin-right: 6%;

    }
    .content6{
        color:rgba(10, 121, 224, 0.842);
        font-size: 20px;
        font-weight: bold;
        font-family: 'Roboto';
        word-spacing: 0.5px;
        letter-spacing: 0.5px;
        margin-left: 5%;
        margin-top: 10%;
    }
    .content7{
        font-family: 'Roboto';
        margin-left: 5%;
        margin-top: auto;
    }
    .content8{
        font-family: 'Roboto';
        border: 1px solid rgba(10, 121, 224, 0.842);
        color: rgba(10, 121, 224, 0.897);
        border-radius: 12px;
        margin-left: 6%;
        width: 20%;
        padding: 4px;
        text-align: center;
        margin-top: 6%;
    }
    #totalblock4{
        background-color: rgba(211, 211, 211, 0.219);
        padding: 23px;
        height: 320px;
    }
    #totalblock4>img{
        float: left;
        width: 30%;
        margin-left: 9%;
        height: 280px;
    }
    #block6{
        margin-left: -30px;
        margin-right: 12%;
        margin-top: 50px;
    }
    .content9{
       
        color:rgba(10, 121, 224, 0.842);
        font-family: 'Roboto';
    }
    .content10{
        font-family: 'Roboto';
        margin-top: 30px;
    }
    .content11{
        margin-top: 30px;
        font-family: 'Roboto';
        text-align: center;
        color: rgba(10, 121, 224, 0.897);
        border: 1px solid rgba(10, 121, 224, 0.842);
        height: auto;
        border-radius: 12px;
        margin-left: 49%;
        width: 24%;
        padding: 5px; 
    }
    #totalblock5>img{
        float: right;
        width: 30%;
        margin-left: 10px;
        height: 250px;
    }
    #totalblock5{
        height: 320px;
        margin-top: 15px;
        padding: 15px;
    }
    .content12{
        color:rgba(10, 121, 224, 0.842);
        font-size: 20px;
        font-weight: bold;
        font-family: 'Roboto';
        word-spacing: 0.5px;
        letter-spacing: 0.5px;
        margin-left: 5%;
        margin-top: 6%;
    }
    .content13{
        font-family: 'Roboto';
        margin-left: 5%;
        margin-top: auto;
    }
    .content14{
        font-family: 'Roboto';
        border: 1px solid rgba(10, 121, 224, 0.842);
        color: rgba(10, 121, 224, 0.897);
        border-radius: 12px;
        margin-left: 6%;
        width: 20%;
        padding: 4px;
        text-align: center;
        margin-top: 4%;
    }
    #block8{
        background-color: rgba(211, 211, 211, 0.219);
        text-align: center;
        padding: 10px;
        font-family: 'Roboto';
        padding-bottom: 25px;
    }
    .content15{
        color:rgba(10, 121, 224, 0.842);
        font-size: 20px;
    }
    .logos{
        display: flex;
        justify-content: space-evenly;
    }
    .logos>img{
        height: auto;
        width: 100px;
    }
    #block9{
        color: white;
        background-color:rgba(10, 121, 224, 0.842);
        text-align: center;
        padding: 15px;
        font-family: 'Roboto';
        font-size: 18px;
        
    }
    .content16{
        margin-left: 13%;
        margin-right: 13%;
    }
    .content17{
        text-align: center;
        color: rgba(10, 121, 224, 0.897);
        border: 2px white;
        background-color: white;
        height: auto;
        border-radius: 12px;
        margin-left: 40%;
        width: 22%;
        padding: 4px;  
    }
    footer{
        margin-left: 10%;
        margin-right: 10%;
    }
    footer>p{
        margin-left: 10%;
        margin-right: 10%;
    } 
}